.login-page {
  overflow: hidden;
  min-height: 95%;
}

.register{
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.loginBody{
  border-radius: 20px;
  border-color: darkorchid;
  border-width: 8px;
  border-style: groove;
}

.footer-text{
  font-weight: bold;
  color: rgb(182, 21, 21);
}

.footer-style{
  font-size: 16px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  height: 40px;
  background-color: rgb(79, 158, 223);
}